:root{
  --primary: #059237;
  --secondary: #2D4390;
  --failure: #eb2f22;
  --bg-color: #fdfdfde0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background: var(--bg-color);
}

.section {
  display: flex;
  height: 75vh;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: black;
}

.form_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  min-height: 300px;
}

.illustration_area{
  display: none;
  /* background-color: var(--bg-color); */
}

.container_label {
  font-size: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container_label img{
  width: 180px;
  margin-bottom: 50px;
}

.container_label span{
  color: var(--primary), rgb(63, 63, 63);
  text-transform: uppercase;
}

.container{
  width: 80%;
  max-width: 530px;
  height: 350px;
  /* border: 1px solid rgba(77, 76, 76, 0.39); */
  box-shadow: 0 0 7px rgba(104, 103, 103, 0.527);
  border-radius: 30px;
}

.form{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_row {
  width: 70%;
  margin: 20px 0; /* need some nice spacing here */
  position: relative; /* this one is important */
}

.form_row p{
  font-size: 1.1rem;
  color: var(--secondary)
}

/*make label absolute and position it on input area*/
.floating_label {
  font-size: 16px;
  position: absolute;
  top: 15px;
  left: 0;
  transition: all 0.2s ease-out;
  cursor: text;
}

.form_control {
  padding: 15px 0 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #34495e;
  font-size: 16px;
  background: var(--bg-color);
}

/*magic happens here */
.form_control:focus {
  outline: none;
  border-color: var(--primary);
}

.form_control:valid ~ label, /*detects if input has valid input*/
.form_control:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: rgba(49, 49, 49, 0.938);
  cursor: auto;
}

.submit_button, .success_button, .failure_button {
  width:100px;
  padding: 12px 24px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
}

.success_button{
  width: 150px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: white;
}

.failure_button{
  width: 200px;
  border: 1px solid var(--failure);
  background-color: var(--failure);
  color: white;
}

.submit_button:hover,
.submit_button:focus{
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
  box-shadow: 1px 1px 7px rgba(34, 167, 34, 0.63);
}

.success_button:hover,
.success_button:focus{
  /* border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: white; */
  cursor:not-allowed;
  box-shadow: 1px 1px 10px rgba(9, 98, 182, 0.63);
}

.failure_button:hover,
.failure_button:focus{
  /* border: 1px solid var(--failure);
  background-color: var(--failure);
  color: white; */
  cursor:not-allowed;
  box-shadow: 1px 1px 10px rgba(243, 79, 50, 0.63);
}


@media screen and (min-width: 860px){
  .container_label{
    font-size: 35px;
  }
  .container_label img{
    width: 200px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1220px) {
  .form_area{
    width:40%;

  }
  
  .container{
    width: 480px;
  }
  
  .illustration_area{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* background-color: white; */
    margin-top: 10%;
    height: 60%;
  }

  .illustration_area img{
    width: 40%;
  }

  .blob{
    position:absolute;
    z-index: -1;
    opacity: 0.3;
    /* margin-right: 100px; */
  }
}
