/* @import url(//db.onlinewebfonts.com/c/ad775834db281065fc17e86ad857bf63?family=Cerebri+Sans); */

.paragraph {
	font-size: 1.2em;
	line-height: 32px;
	color: #ffffff;
	margin-right: 232px;
	margin-top: 0px;
	margin-bottom: 25px;
	/* font-family: "Lato"; */
	font-weight: 200;
	width: 50%;
}

.slider {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../../images/slider.jpg');
	position: fixed;
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 3;
	opacity: 1;
	background-size: cover;
	background-position: center center;
	min-height: 800px;
	float: left;
	height: 90vh;
	display: flex !important;
	align-items: center !important;
}

.slider_header {
	font-size: 95px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 40px;
	letter-spacing: 15px;
	line-height: 1;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0px 100px;
}
.slider_button_area {
	margin-top: 50px;
	box-sizing: border-box;
}

.slider_button {
	background: var(--primary);
	cursor: pointer;
	/* border: medium none; */
	/* display: inline-block; */
	width: 10%;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 20px 40px;
	/* text-align: center; */
	text-transform: uppercase;
	/* touch-action: manipulation; */
	transition: all 0.3s ease 0s;
	/* vertical-align: middle; */
	/* white-space: nowrap; */
	border-radius: 30px;
	position: relative;
	/* font-family: "cerebri_sansbold"; */
}

.slider_button:hover,
.slider_button:focus {
	background: #06a73e;
	box-shadow: 0 0 10px #05923683;
}

.button_text {
	color: #ffffff;
	position: relative;
	transition: 0.3s;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 400;
	line-height: 1.5;
}

.Link {
	text-decoration: none;
}

/* .slider_overlay{
    position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      left: 0;
      top:0;
      background: #000000;
      opacity: .6;
} */
