.col_xl_12 {
    /* -ms-flex: 0 0 100%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    flex-direction: row;
    max-width: 100%;
}

.col_xl_12_header {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.col_xl_12_header hr{
    width: 100%;
}

.col_xl_12_header h3{
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.col_xl_8{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col_xl_4{
    position: relative;
    /* width: 100%; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin : 0px 0px;
}

.form_box{
    width: 100%;
}

.form_control {
	padding: 15px 0 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #34495e;
	font-size: 16px;
	background: var(--bg-color);
}

.form_control:focus {
	outline: none;
	border-color: var(--primary);
}

.form_control:valid ~ label,
.form_control:focus ~ label {
	top: -20px;
	font-size: 14px;
	color: rgba(49, 49, 49, 0.938);
	cursor: auto;
}

.label{
    color:black;
    font-size: 14px;
    margin-bottom: 2px;
}

.text_input{
    font-size: 14px;
    line-height : 20px;
    margin : 2px 0px;
}

.listSelect{
    width: 100%;
    margin-top: 2px;
    min-height: 26px;
}

.blue_btn{
    background-color: var(--secondary);
    border: none;
    border-radius: 30px;
    /* border-color: #2D4390; */
    padding: 12px 24px;
    /* padding-left: auto; */
    margin-left: 0px;
    margin-top: 20px;
    width: 20%;
    cursor: pointer;
    display: flex;
    justify-content:center;
    transition: .2s all ease;
    /* text-decoration: none; */
}

.blue_btn:hover,
.blue_btn:focus{
    background-color:#096bd8;
    border-color: #096bd8;
    box-shadow: 0 0 10px #096ad87e;
}

.blue_btn span{
    text-decoration: none;
    color:#ffffff;
}


.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    /* width: 350px; */
  }
  
  .select option {
    /* color: red; */
    margin: 10px;
  }
  
  .select_text,
  .invalid_select_text {
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
  }
  
  .invalid_select_text,
  .invalid_select_text:focus {
    outline: none;
    border-bottom: 1px solid var(--failure);
  }
  
  /* Remove focus */
  .select_text:focus {
    outline: none;
    border-bottom: 1px solid var(--primary);
  }
  
  /* Use custom arrow */
  .select .select_text,
  .select .invalid_select_text {
    appearance: none;
    -webkit-appearance: none;
  }
  
  .select:after {
    position: absolute;
    top: 40px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #34495e;
    pointer-events: none;
  }
  
  option:first-of-type {
    display: none;
  }
  
  /* LABEL ======================================= */
  .select_label {
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
  }
  
  .invalid_select_text ~ .select_label {
    color: var(--failure);
  }
  
  /* active state */
  .select_text:focus ~ .select_label,
  .select_text:valid ~ .select_label,
  .invalid_select_text:focus ~ .select_label,
  .invalid_select_text:valid ~ .select_label {
    color: rgba(49, 49, 49, 0.938);
    top: -20px;
    /* transition: 0.2s ease all; */
    font-size: 14px;
  }
  
  .invalid_select_text:focus ~ .select_label,
  .invalid_select_text:valid ~ .select_label {
    color: var(--failure);
  }