.menu_container{
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    height:min-content;
    align-items: center;
    border-radius: 10px;
    left: -50px;
    /* Neumorphism CSS */
	border-radius: 50px;
	background: #f5f5f5;
	box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.selected_menu{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /* border: 1px solid; */
    margin-left: auto;

    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) */
}

.p_section{
    max-width: 65%;

}

.menu_item{
    /* cursor: pointer; */
    display: block;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 12px 24px;
  color: var(--secondary);
  transition: all 0.1s linear;
  margin-bottom: 15px;
}

.menu_item:hover{
    background: #546bc2;
    color: white;
    border-radius: 10px;
}


.menu_list{
    
}

.menu_list div{
    cursor: pointer;       
}

.active{
    background: var(--secondary);
    border-radius: 10px;
    color: white;
}

.col_xl_12 {
    /* -ms-flex: 0 0 100%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}